@import "tailwindcss";

body {
  @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
}

body {
  margin: 0;
  padding: 0;
  @apply w-full h-screen overflow-hidden bg-white text-black dark:bg-black dark:text-white;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
